body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.glyphicon {
	width: 40px;
	height: 40px;
}

.add-user-plus {
	width: 20px;
	height: 20px;
}

.empty-input.form-control[readonly],
.empty-input {
	background-color: #f5c6cb;
}